<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
            <link rel = "stylesheet" type = "text/css" href = "../../public/assets/css/burger_style.css">
            <title> Burger Database App </title>

    </head>
    <body>
        {{{ body }}}

    </body>
</html>